:root {
  --base-color: #ffffff;
  --color-purple: #4e0070;
  --color-blue: #4c79d3;
}

.primary-color {
  color: var(--color-purple);
}

.secondary-color {
  color: var(--color-blue);
}

.btn:focus {
  box-shadow: none;
}

/* LOGIN */

.bg-login {
  background: linear-gradient(120deg, var(--color-blue) 44.9%, var(--base-color) 45%) no-repeat fixed;
}

.text-login {
  color: var(--base-color);
  font-size: 1.125rem;
  font-weight: 500;
}

.coins {
  position: absolute;
  bottom: -70px;
}

.btn-login {
  border-radius: 10px;
  background-color: var(--color-purple);
  color: var(--base-color);
  width: 50%;
  margin: 0 25%;
}

.btn-login:hover {
  background-color: var(--color-blue);
  color: var(--base-color);
}

.link-default {
  color: var(--color-purple);
  cursor: pointer;
  text-decoration: none;
}

.link-default:hover {
  color: var(--color-blue);
}

.btn-cancel {
  border-radius: 10px;
  background-color: #808080;
  color: var(--base-color);
}

.btn-cancel:hover {
  background-color: #5a5a5a;
  color: var(--base-color);
}

/* HOME */

.bg-home {
  background: linear-gradient(120deg, var(--base-color) 44.9%, var(--color-blue) 45%) no-repeat fixed;
}

header {
  border-bottom: 1px solid #bebcbc;
  padding: 5px;
  background-color: var(--base-color);
}

.icon-detail {
  font-size: 3.125rem;
  margin-right: .625rem;
}

.info {
  background-color: var(--base-color);
  border-radius: 20px 20px 0 0;
  padding: 20px 0 0;
}

.btn-default {
  border-radius: 10px;
  background-color: var(--color-purple);
  color: var(--base-color);
}

.btn-default:hover {
  background-color: var(--color-blue);
  color: var(--base-color);
}